:root {
    --fundo-form: rgb(255, 255, 255);
    --fundo-azul: rgb(0, 132, 255);
    --palavras: rgb(255, 255, 255);
    --linhas: rgb(54, 52, 52);
}

form {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: solid 1px var(--fundo-azul);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

button {
    background-color: var(--fundo-azul);
    border: 0px;
    color: var(--palavras);
}

th {
    color: var(--fundo-azul);
    background-color: var(--palavras);
}

table {
    border: 1px solid var(--fundo-azul);
}